@use "sass:map";
@use "variables" as *;
@use "mixins";

/*
	 Add your classes here
	 Custom classes prefix : 'c-'
	 Component- or view-specific classes prefix : '/name/__'
*/

.task-catalog__add-task-button {
		color: $background-color;
		background-color: $text-color;
	transition: ease-in-out all .3s;
	font-size: 1.5em;
	font-style: italic;
	padding: .5em;
	margin: 1em;
	border-radius: 1em;
	&:hover, &:focus {
		outline: none;
	}

	@include mixins.respond-to(small) {
		margin-left: 30%;
	}
}

.task-catalog__sidebar {
	@include mixins.flex-column;
	padding: .5rem;
	margin-right: 1rem;

	@include mixins.respond-to(small) {
		width: 40vw;
		margin-right: 0;
	}
}

.task-details__container {
	width: 60vw;
	height: 100%;
	text-align: center;
	@include mixins.respond-to(small) {
		width: 55vw;
	}
}

.c-button {
	transition: ease-in-out all .3s;
	background-color: inherit;
	color: inherit;
}

.c-button-hover-prim {
	&:hover, &:focus {
		background-color: $primary-color;
		color: $background-color;
		outline: none;
	}
}

.c-button-hover-sec {
	&:hover, &:focus {
		background-color: $secondary-color;
		color: $background-color;
		outline: none;
	}
}