<div class="home-section">
  <h2 data-i18n="home-philosophy.title"></h2>
  <p data-i18n="home-philosophy.sub" class="home-section__sub"></p>

	<div class="grid philosophy-grid">

    <div class="card">
      <p data-i18n="home-philosophy.transparent-title" class="card-title"></p>
      <p data-i18n="home-philosophy.transparent-desc" class="card-desc"></p>
    </div>

    <div class="card">
      <p data-i18n="home-philosophy.explicit-title" class="card-title"></p>
      <p data-i18n="home-philosophy.explicit-desc" class="card-desc"></p>
    </div>

  </div>

  <div class="grid philosophy-grid">

    <div class="card">
      <p data-i18n="home-philosophy.deps-title" class="card-title"></p>
      <p data-i18n="home-philosophy.deps-desc" class="card-desc"></p>
    </div>

    <div class="card">
      <p data-i18n="home-philosophy.scale-title" class="card-title"></p>
      <p data-i18n="home-philosophy.scale-desc" class="card-desc"></p>
    </div>

  </div>
</div>