<div class="u-flex-center u-flex-column">
  <h1 
    data-i18n="home.title"
    class="home__title"
  ></h1>
  <span 
    class="u-italic u-font-smallest u-font-secondary"
  >nutin v1.3.0</span>
  <img src="/assets/images/logo-trans.avif" width=250 height=250 alt="nutin's logo. A frame opened on the top left through which a plant grows.">
  <div class="home__header">
    <p data-i18n="home.catchphrase" class="home__catchphrase"></p>
    <p data-i18n="home.technos" class="home__technos"></p>
  </div>
</div>
<div 
  class="home__main-content" 
  style="font-size:1.1rem;"
>
  <p data-i18n="home.pitch"></p>
  <p data-i18n="home.presentation"></p>
  <div class="home__snippet-container"><p data-i18n="home.snippet">
    <div class="home__snippet">
      <span data-component="snippet"></span>
    </div>
  </p></div>
  <p data-i18n="home.philosophy"></p>
  <div class="u-flex-center u-color-bg">
    <div data-component="tutorial-link"></div>
  </div>
</div>