<div class="home__wrapper">
  <div class="home__container">
    <div class="home__title-wrapper">
      <h1 
        data-i18n="home.title"
        class="home__title"
      ></h1>
      <span 
        class="home__version"
      ><span class="home__version-live">●</span> v1.3.1</span>
    </div>
    <div class="home__header">
      <p data-i18n="home.catchphrase" class="home__catchphrase"></p>
      <p data-i18n="home.subcatchphrase" class="home__subcatchphrase"></p>
      <p data-i18n="home.briefing" class="home__briefing"></p>
      <div class="home__cta-row">
        <div data-component="cta-row-get-started-btn"></div>
        <div data-component="cta-row-tutorial-btn"></div>
      </div>
    </div>
  </div>

  <div data-component="home-pillars"></div>

  <div data-component="home-philosophy"></div>
  <!-- <div 
    class="home__main-content" 
    style="font-size:1.1rem;"
  >
    <p data-i18n="home.pitch"></p>
    <p data-i18n="home.presentation"></p> -->
    <div class="home__snippet-container">
      <h2 data-i18n="home.snippet"></h2>
      <p data-i18n="home.snippet-pitch" class="home__snippet-pitch"></p>
        <div class="home__snippet">
          <span data-component="snippet"></span>
        </div>
      <!-- </p> -->
    </div>
    <!-- <p data-i18n="home.philosophy"></p> -->

    <div data-component="home-extras"></div>

    <div class="home__tutorial-link-container">
      <div data-component="tutorial-link"></div>
    </div>
  </div>
</div>