<div class="home__wrapper">
  <div class="home__container">
    <div class="home__title-wrapper">
      <h1 
        data-i18n="home.title"
        class="home__title"
      ></h1>
      <span 
        class="home__version"
      ><span class="home__version-live">●</span> v2.1.0</span>
    </div>
    <div class="home__header">
      <p data-i18n="home.catchphrase" class="home__catchphrase"></p>
      <p data-i18n="home.subcatchphrase" class="home__subcatchphrase"></p>
    </div>
    <div>
      <div class="home__section-header">
        <h2 data-i18n="home.start"></h2>
      </div>
      <div class="home__snippet-container">
        <h2 data-i18n="home.snippet-create"></h2>
        <div class="home__snippet">
          <span data-component="snippet-create"></span>
        </div>
        <h2 data-i18n="home.snippet-run"></h2>
        <div class="home__snippet">
          <span data-component="snippet-run"></span>
        </div>
      </div>
    </div>
    <div>
      <div class="home__section-header">
        <h2 data-i18n="home.build"></h2>
      </div>
      <div class="home__snippet-container">
        <h2 data-i18n="home.snippet-generate"></h2>
        <div class="home__snippet">
          <span data-component="snippet-generate"></span>
        </div>
        <h2 data-i18n="home.snippet-hello"></h2>
        <div class="home__snippet">
          <span data-component="snippet-hello"></span>
        </div>
        <h2 data-i18n="home.snippet-register"></h2>
        <div class="home__snippet">
          <span data-component="snippet-register-ts"></span>
        </div>
        <div class="home__snippet">
          <span data-component="snippet-register-html"></span>
        </div>
        <h2 data-i18n="home.snippet-see"></h2>
        <div class="home__snippet">
          <span data-component="snippet-see"></span>
        </div>
      </div>
    </div>
    <div>
      <div class="home__section-header">
        <h2 data-i18n="home.achieved"></h2>
      </div>
      <div class="grid home__cta-row">
        <div data-component="tutorial-link"></div>
        <div data-component="docs-link"></div>
      </div>
    </div>
    <div>
      <div class="home__section-header">
        <h2 data-i18n="home.learn-more"></h2>
      </div>
      <div data-component="home-pillars"></div>
    </div>
  </div>
</div>