@use "sass:map";
@use "variables" as *;
@use "mixins";

/*
	 Add your classes here
	 Custom classes prefix : 'c-'
	 Component- or view-specific classes prefix : '/name/__'
*/

.header__nav {
	@include mixins.flex-between;
	position: relative;
	padding-left: .5em;
	padding-right: .5em;
	margin-right: 1em;
	button {
		transition: ease-in-out 0.3s;
		&:hover {
			background-color: rgba($secondary-color, .7);
			color: $background-color;
		}
		&:focus-visible {
			outline: 2px solid $primary-color;
		}
		@media (hover: none) {
	    &:hover {
	      text-decoration: none;
	      background-color: inherit;
	      color: inherit;
	    }
		}
	}
}

.navbar__resources {
	@include mixins.flex-wrap;
	svg {
		height:1.5rem;width:auto;margin-top:.5rem;margin-left:.5rem;
	}
	@include mixins.respond-to(medium) {
		justify-content: flex-end;
		svg {
			padding-left: 2rem;
			padding-right: .5rem;
		}
	}
}

.navbar__dropdown {
	position: absolute;
	top: 100%;
	@include mixins.bg-gradient(bottom, rgba($secondary-color, .5), $background-color);
	background-color: $background-color;
	margin-left: 1.5rem;
	opacity: 0;
	visibility: hidden;
	@include mixins.respond-to(medium) {
		top: 50%;
		margin-left: 2rem;
	}
}

.navbar__dropdown-visible {
	opacity: 1;
	visibility: visible;
	z-index: 100;
	@include mixins.fade-in;
}

.footer {
	position: sticky;
	bottom: 0;
	padding: 1rem;
	width: 100vw;
}

.footer__body {
  text-decoration: underline;
  @include mixins.flex-between;

  @include mixins.respond-to(small) {
    display: block;
    text-align: center;
  }

  section {
  	@include mixins.respond-to(small) {
    	padding-bottom: 1rem;
  	}
  }
}

.home__catchphrase {
	text-align: center;
	max-width: 80vw;
	@include mixins.respond-to(small) {
   	width: 100vw;
 	}
	@include mixins.respond-to(medium) {
   	width: 90vw;
 	}
	@include mixins.respond-to(largest) {
   	width: 70vw;
 	}
}

.home___snippet {
	text-align: center;
	font-weight: bold;
	font-style: italic;
	font-size: 1.2rem;
	pre {
		font-size: 1rem;
		font-style: normal;
		text-align:center;
		padding-top: 1rem;
		background-color: inherit;
		code {
			color: $text-color;
		}
	}
}

.tutorial__article {
	line-height: 2rem;
	font-size: 1.1rem;
}

.snippet__code {
	overflow-x: auto;
	width: 75vw;
	@include mixins.respond-to(small) {
   	min-width: 95vw;
 	}
	@include mixins.respond-to(medium) {
   	min-width: 90vw;
 	}
	@include mixins.respond-to(largest) {
   	width: 70vw;
 	}
}

.resource {
	width: 100vw;
	@include mixins.flex-row;
	@include mixins.respond-to(small) {
		@include mixins.flex-column;
	}
	@include mixins.respond-to(medium) {
		@include mixins.flex-column;
	}
}

.resource-section {
	width: 80vw;
	@include mixins.respond-to(small) {
		width: 100vw;
	}
	@include mixins.respond-to(medium) {
		width: 100vw;
	}
}

.nest-sections {
	padding-left: 1rem;
	@include mixins.respond-to(small) {
		padding-left: 0;
	}
	@include mixins.respond-to(medium) {
		padding-left: 0;
	}
}

.c-sidebar {
	// anchor
	:first-child {
		order: 1;
	}
	@include mixins.flex-column;
	position: sticky;
	left: 0;
	top: 0;
	overflow-y: auto;
	padding-top: 2rem;
	margin-right: 1rem;
	width: 20vw;
	@include mixins.bg-gradient(bottom, rgba($secondary-color, .5), $background-color);
	@include mixins.rounded;

	@include mixins.respond-to(small) {
		@include mixins.flex-row;
		@include mixins.flex-wrap;
		backdrop-filter: blur(8px);
		-webkit-backdrop-filter: blur(8px);
		background-color: $background-color;
		padding-bottom: 1rem;
		width: 100vw;
		height: auto;
		margin-right: 0;
		margin-top: 1rem;
	}
	@include mixins.respond-to(medium) {
		@include mixins.flex-row;
		@include mixins.flex-wrap;
		backdrop-filter: blur(8px);
		-webkit-backdrop-filter: blur(8px);
		background-color: $background-color;
		padding-bottom: 1rem;
		width: 100vw;
		height: auto;
		margin-right: 0;
		margin-top: 1rem;
	}
}

.c-block-btn {
  display: block;
  text-align: left;
}
