@use "sass:map";
@use "variables" as *;
@use "mixins";

/*
	 Add your classes here
	 Custom classes prefix : 'c-'
	 Component- or view-specific classes prefix : '/name/__'
*/

.c-block-btn {
  display: block;
}

.c-round-btn {
	width: 100%;
	text-align: left;
	background-color: inherit;
	margin-top: map.get($spacings, "small");
	margin-bottom: map.get($spacings, "small");
	padding-left: map.get($spacings, "small");
	padding-right: map.get($spacings, "small");
  @include mixins.rounded;
  @include mixins.respond-to(medium) {
  	margin-top: 0;
		padding-left: map.get($spacings, "smallest");
		padding-right: map.get($spacings, "smallest");
	}
}

.c-padd-list {
	padding-left: 4rem;
}
