@use "sass:map";
@use "variables" as *;
@use "mixins";

/*
	 Add your classes here
	 Custom classes prefix : 'c-'
	 Component- or view-specific classes prefix : '/name/__'
*/

.c-block-btn {
  display: block;
  text-align: left;
}

.c-round-btn {
	background-color: inherit;
	margin-top: map.get($spacings, "small");
	margin-bottom: map.get($spacings, "small");
	padding-left: map.get($spacings, "small");
	padding-right: map.get($spacings, "small");
  @include mixins.rounded;
}

.c-apart {
	font-size: 1.05rem;
	padding-top: map.get($spacings, 'medium');
}
