@use "sass:map";
@use "variables" as *;
@use "mixins";

.tutorial__presentation {
  font-size: 1.1rem;
  max-width: 100ch;
}

.tutorial__important {
  margin: auto;
  min-width: 95%;
	font-size: 1.05rem;
	padding: map.get($spacings, 'medium') map.get($spacings, 'smallest');
	text-align: center;
  font-weight: 600;
  letter-spacing: .01rem;
  background-color: $surface-color;
	color: $accent-color;
  @include mixins.rounded;
  border-left: 3px solid $accent-color;
  border-right: 3px solid $accent-color;
  border-top: 1px solid $accent-color;
  border-bottom: 1px solid $accent-color;
  border-radius: map.get($border-radius, large);
  @include mixins.respond-to(medium) {
    min-width: 100%;
  }
}

.tutorial__container {
  a {
    &:hover {
      color: rgba($primary-color, .8);
    }
    &:focus-visible {
      outline: 2px solid $primary-color;
    }
    @media (hover: none) {
      &:hover {
        text-decoration: none;
        background-color: inherit;
        color: inherit;
      }
    }
  }
}

.tutorial__toc {
  padding-left: map.get($spacings, small);
  font-family: $secondary-font;
  font-size: map.get($font-sizes, large);
  color: $primary-color;
  @include mixins.respond-to(medium) {
    padding-left: map.get($spacings, small);
  }
}
