<div class="u-padd-y-small">
	<h3 
		class="u-padd-x-largest u-padd-y-small u-bold u-font-secondary"
		style="font-size:1.25rem;"
		data-optional
	>${_snippet.title ? '•' : ''} ${_snippet.title}</h3>
	<p
		class="u-padd-x-medium u-padd-y-medium u-pre-wrap"
		data-optional
	>${_snippet.before}</p>
	<div class="u-flex-center u-flex-column">
		<pre 
			data-highlight="prism"
			class="snippet__code"
		><code 
				class="language-${_snippet.type}"
			>${_snippet.content}</code>
		</pre>
		<p 
			class="u-text-center u-font-small u-italic u-padd-x-small u-padd-y-small u-pre-wrap"
			data-optional
		>${_snippet.after}</p><br/>
	</div>
</div>