@use "mixins";

.under-development {
  padding-left: 2rem;
  padding-top: 3rem;
  padding-bottom: 1rem;
  background: var(--error);
  font-size: 1.2rem;
  @include mixins.respond-to(medium) {
    padding-top: 6rem;
  }
}

.under-development__docs {
  font-size: 1.5rem;
  text-decoration: underline;
  &:hover {
    color: var(--background);
  }

  @media (hover: none) {
    &:hover { 
    color: var(--text);
    }
  }

  &:focus-visible {
  }
}
