.task-card {
  padding: 1.5rem;
  padding-bottom: .5rem;
  line-height: 2;
  background: #F1F1EF;
  border: 1px solid #D6D6D2;;
  border-radius: 8px;
  overflow: hidden;
  h2 {
    font-size: 1.2rem;
    font-weight: bold;
    max-height: 3rem;
    overflow: hidden;
  }
  p {
    height: 4rem;
    overflow: hidden;
  }
}

.task-card__action-remove {
  button {
    color: #B05252;
    &:hover {
      border: 2px solid #B05252;
    }
  }
}
.task-card__actions {
  padding-top: 1.5rem;
  display: flex;
  justify-content: flex-end;
}