.task-card {
  padding: 1.5rem;
  padding-bottom: .5rem;
  line-height: 2;
  width: 100ch;
  max-width: 20vw;
  overflow: hidden;
  background: #F1F1EF;
  border: 1px solid #D6D6D2;;
  border-radius: 8px;
  h2 {
    font-size: 1.5rem;
    font-weight: bold;
    text-wrap: nowrap;
  }
  p {
    font-size: 1.1rem;
    overflow: hidden;
    max-height: 4rem;
    padding-bottom: 1rem;
  }
}

.task-card__action-delete {
  button {
    color: #B05252;
    &:hover {
      border: 2px solid #B05252;
    }
  }
}
.task-card__actions {
  padding-top: .5rem;
  display: flex;
  justify-content: flex-end;
}