<div class="u-flex-column u-padd-x-medium">
	<header>
		<h1 
			id="tutorial-title"
			class="u-padd-y-medium"
			style="text-align:center;"
			data-pipe="capitalize" 
			data-i18n="tutorial.title"
		></h1>
		<article 
			class="u-pre-wrap u-marg-x-medium"
			style="line-height:2rem;font-size:1.1rem;"
			data-i18n="tutorial.presentation"
		></article>
		<article>
			<p class="u-padd-y-medium">
				<a 
					href="https://www.nutin-todo.nutin.org"
					target="_blank"
					data-i18n="tutorial.live-link"
					class="u-italic u-bold u-padd-x-small"
				></a>
			</p>
			<p
				class="u-bold u-marg-x-medium"
				style="padding-top:1rem;font-size:1.05rem;"
				data-i18n="tutorial.table-of-content"
			></p>
			<div 
				data-component="table-of-content"
				class="u-padd-y-medium u-padd-x-medium"
			></div>
			<p 
				class="u-bold u-italic"
				style="font-size:1.05rem;text-align:center;padding-top:1rem;"
				data-i18n="tutorial.important"
			></p>
		</article>
	</header>
	<div data-catalog="section-catalog"></div>
	<aside style="padding-top:1rem;margin-top:1rem;padding-bottom:1rem;margin-bottom:1rem;" class="u-padd-x-medium">
		<p data-i18n="tutorial.conclusion"></p>
	</aside>
</div>