<div class="resource__single">
	<header class="u-shadow-small">
		<h1
			data-pipe="capitalize" 
			data-i18n="tutorial.title"
		></h1>
		<div class="u-shadow-large">
			<article 
				class="u-pre-wrap u-padd-x-small u-padd-y-medium"
				style="font-size:1.1rem;"
				data-i18n="tutorial.presentation"
			></article>
			<article>
				<p class="u-padd-x-small u-color-prim u-italic">
					<a
						href="https://www.nutin-todo.nutin.org"
						target="_blank"
						data-i18n="tutorial.live-link"
					></a>
				</p>
				<div class="u-padd-y-medium">
					<p
						id="tutorial-toc"
						class="u-padd-x-medium u-font-secondary u-font-large u-color-prim"
						data-i18n="tutorial.table-of-content"
					></p>
					<div class="c-padd-list">
						<span data-component="table-of-content"></span>
					</div>
				</div>
				<p 
					class="tutorial__important"
					data-i18n="tutorial.important"
				></p>
			</article>
		</div>
	</header>
	<div data-catalog="section-catalog"></div>
	<aside class="u-padd-x-medium u-padd-y-medium u-marg-y-medium">
		<p data-i18n="tutorial.conclusion"></p>
	</aside>
</div>