<div class="resource__single">
	<header class="u-shadow-small u-padd-x-medium u-padd-y-medium">
		<h1
			data-pipe="capitalize" 
			data-i18n="tutorial.title"
		></h1>
		<article 
			class="u-pre-wrap u-padd-x-small"
			style="line-height:2rem;font-size:1.1rem;"
			data-i18n="tutorial.presentation"
		></article>
		<article>
			<p class="u-padd-y-medium">
				<a
					href="https://www.nutin-todo.nutin.org"
					target="_blank"
					data-i18n="tutorial.live-link"
					class="u-italic u-bold u-padd-x-small"
				></a>
			</p>
			<p
				class="c-apart u-bold u-marg-x-medium"
				data-i18n="tutorial.table-of-content"
			></p>
			<div 
				data-component="table-of-content"
				class="u-padd-y-medium u-padd-x-medium"
			></div>
			<p 
				class="c-apart u-bold u-italic u-padd-y-medium u-text-center u-border u-rounded-large u-shadow-medium"
				data-i18n="tutorial.important"
			></p>
		</article>
	</header>
	<div data-catalog="section-catalog"></div>
	<aside class="u-padd-x-medium u-padd-y-medium u-marg-y-medium">
		<p data-i18n="tutorial.conclusion"></p>
	</aside>
</div>