@use "sass:map";
@use "variables" as *;
@use "mixins";

.a11y-index {
    max-width: 150ch;
    h1 {
        font-size: 3rem;
    }
    p {
        line-height: 1.6;
        margin-top: map.get($spacings, small);
    }
    .home-extras .grid {
        grid-template-columns: repeat(2, 1fr);
        @include mixins.respond-to(medium) {
            grid-template-columns: repeat(1, 1fr);
        }
    }
}

.a11y-index__lead {
    font-size: 1.5rem;
    color: var(--primary);
}

.a11y-index__pitch {
    padding-top: 2rem;
    p {
        padding: .2rem 0;
    }
}
