<div 
  class="not-found__container u-flex-center u-flex-column u-padd-y-large"
>
  <h1 
    data-i18n="not-found.content" 
    class="u-color-prim u-font-largest u-bold u-font-secondary u-text-center"
  ></h1>
  <img src="/assets/images/logo-trans.avif" width=300 height=300 alt="nutin's small logo with a growing plant.">
  <div class="not-found__home-btn-container">
    <div data-component="home"></div>
    <div>
      <img src="/assets/images/logo-small-trans.avif" width=50 height=50 alt="nutin's small logo with a growing plant.">
      <img src="/assets/images/logo-small-trans.avif" width=50 height=50 alt="nutin's small logo with a growing plant.">
      <img src="/assets/images/logo-small-trans.avif" width=50 height=50 alt="nutin's small logo with a growing plant.">
    </div>
  </div>
</div>