<div 
	class="u-padd-y-medium u-shadow-large"
	id="section${_section.id}"
>
	<h2
		data-pipe="capitalizeAll"
		class="u-font-large u-marg-x-largest u-padd-y-medium"
	>${_section.name}</h2>
	<p 
		class="u-marg-x-medium u-pre-wrap" 
		style="padding-top:.5rem;"
		data-optional
	>${_section.content}</p>
	<div data-optional>
		<div data-catalog="snippet-container-${_section.id}"></div>
	</div>
	<aside 
		class="u-font-small u-marg-x-medium u-pre-wrap" 
		style="padding-top:.5rem;"
		data-optional
	>${_section.notes}</aside>
	<div 
		class="u-font-smallest u-italic u-padd-y-small u-padd-x-small"
		style="text-align:right;" 
	>
		<div data-component="anchor"></div>
	</div>
<div>