@use "sass:map";
@use "variables" as *;
@use "mixins";

.footer {
	position: sticky;
	bottom: 0;
	padding: map.get($spacings, 'medium');
	width: 100%;
  background: linear-gradient(to bottom, rgba($primary-color, .3), $background-color 50%);
  @include mixins.rounded;
}

.footer__body {
  text-decoration: underline;
  @include mixins.flex-between;

  @include mixins.respond-to(medium) {
    display: block;
    text-align: center;
  }

  section {
  	@include mixins.respond-to(medium) {
    	padding-bottom: map.get($spacings, 'medium');
  	}
  }
}
