@use "sass:map";
@use "variables" as *;
@use "mixins";

.footer {
	position: sticky;
	bottom: 0;
	padding: map.get($spacings, 'medium');
	width: 100%;
  background-color: $surface-color;
  @include mixins.rounded;
}

.footer__body {
  text-decoration: underline;
  @include mixins.flex-between;
  align-items: flex-start;

  @include mixins.respond-to(medium) {
    display: block;
  }

  section {
  	@include mixins.respond-to(medium) {
    	padding-bottom: map.get($spacings, 'small');
  	}
  }
  a {
    &:hover {
      color: rgba($primary-color, .8);
    }
    &:focus-visible {
      outline: 2px solid $primary-color;
    }
    @media (hover: none) {
      &:hover {
        text-decoration: none;
        background-color: inherit;
        color: inherit;
      }
    }
  }
}

.footer__nutin {
  text-align: center;
  font-style: italic;
  font-family: $secondary-font;
  font-size: map.get($font-sizes, small);
  @include mixins.respond-to(medium) {
    text-align: right;
    padding-top: map.get($spacings, 'large');
  }
}
