@use "sass:map";
@use "variables" as *;
@use "mixins";

.navbar {
	@include mixins.flex-between;
	position: relative;
	padding-top: map.get($spacings, 'small');
	padding-left: map.get($spacings, 'small');
	padding-right: map.get($spacings, 'medium');
	border-bottom: .3rem solid $primary-color;
	border-style: groovy;
	@include mixins.rounded;
	button {
		transition: ease-in-out 0.3s;
		&:hover {
			background-color: rgba($secondary-color, .7);
			color: $background-color;
		}
		&:focus-visible {
			outline: 2px solid $primary-color;
		}
		@media (hover: none) {
	    &:hover {
	      text-decoration: none;
	      background-color: inherit;
	      color: inherit;
	    }
		}
	}
	@include mixins.respond-to(medium) {
		@include mixins.flex-column;
		@include mixins.flex-center;
		padding: 0;
		padding-bottom: map.get($spacings, 'smallest');
	}
}

.navbar__header {
	// svg is displayed in .navbar__resources on wider screens
	svg {
		display: none;
	}
	@include mixins.respond-to(medium) {
		@include mixins.flex-between;
		padding-right: map.get($spacings, 'small');
		padding-left: map.get($spacings, 'smallest');
		width: 100%;
		svg {
			@include mixins.display-svg;
		}
	}
}

.navbar__home-btn {
	@include mixins.respond-to(medium) {
		padding-top: map.get($spacings, 'small');
	}
}

.navbar__resources {
	@include mixins.flex-wrap;
	svg {
		@include mixins.display-svg;
		margin-top: map.get($spacings, 'small');
		margin-left: map.get($spacings, 'small');
		padding-right: map.get($spacings, 'small');
	}
	@include mixins.respond-to(medium) {
		width: 100%;
		@include mixins.flex-between;
		// svg is displayed in .navbar__header on wider screens
		svg {
			display: none;
		}
		& > div {
    	width: 50%;
  	}
		& > div:nth-child(even) {
			padding-right: map.get($spacings, 'smallest');
			& button {
				text-align: right;
			}
  	}
		& > div:nth-child(odd) {
			padding-left: map.get($spacings, 'smallest');
  	}
	}
}

.navbar__dropdown {
	position: absolute;
	top: 100%;
	min-width: 10%;
	border-radius: map.get($border-radius, 'medium');
	@include mixins.bg-gradient(bottom, rgba($secondary-color, .5), $background-color);
	background-color: $background-color;
	padding-left: map.get($spacings, 'smallest');
	opacity: 0;
	visibility: hidden;
	@include mixins.respond-to(medium) {
		width: 35%;
		text-align: left;
		top: 67%;
		right: 0%;
		& button {
			text-align: left !important;
		}
	}
}

.navbar__dropdown-visible {
	opacity: 1;
	visibility: visible;
	z-index: 100;
	@include mixins.fade-in;
}