@use "sass:map";
@use "variables" as *;
@use "mixins";

.navbar {
	z-index: 2;
	font-weight: bold;
	font-size: 1.05rem;
	@include mixins.flex-between;
	align-items: flex-end;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 3rem;
	background-color: $surface-color;
	padding-top: map.get($spacings, 'small');
	padding-left: map.get($spacings, 'largest');
	padding-right: map.get($spacings, 'large');
	border-bottom: 5px solid $secondary-color;
	border-style: groovy;
	@include mixins.rounded;
	button {
		padding-top: .3rem;
		transition: ease-in-out 0.2s;
		&:hover {
			background-color: $secondary-color;
			// color: $background-color;
			padding-top: 0;
			padding-bottom: .3rem;
		}
		&:focus-visible {
			outline: 2px solid $primary-color;
		}
		@media (hover: none) {
	    &:hover {
	      text-decoration: none;
	      background-color: inherit;
	      color: inherit;
				padding-bottom: 0;
				padding-top: .3rem;
	    }
		}
	}
	img {
		align-self: center;
		transition: ease-in-out .2s;
		width: 75px;
		height: 75px;
		cursor: pointer;
		margin-bottom: -1.8rem;
		@include mixins.respond-to(medium) {
			width: 60px;
			height: 60px;
			margin-left: -(map.get($spacings, small));
			margin-bottom: -(map.get($spacings, large));
		}
		&:hover {
			transform: translateY(-2px);
			scale: 1.05;
		}
		@media (hover: none) {
	    &:hover {
				transform: translateY(0);
				scale: 1;
	    }
		}
	}

	svg {
		transition: ease-in-out .2s;
		path {
			transition: ease-in-out .2s;
			fill: $text-color;
		}
		&:hover {
			transform: translateY(-2px);
			scale: 1.05;
			path {
				fill: $secondary-color;
			}
		}
		@media (hover: none) {
	    &:hover {
				transform: translateY(0);
				scale: 1;
				path {
					fill: $text-color;
				}
	    }
		}
	}
	@include mixins.respond-to(medium) {
		@include mixins.flex-column;
		@include mixins.flex-center;
		padding: 0;
		padding-bottom: map.get($spacings, 'smallest');
		height: auto;
		border-bottom: .4rem solid $primary-color;
	}
}

.navbar__header {
	// svg is displayed in .navbar__resources on wider screens
	svg {
		display: none;
	}
	@include mixins.respond-to(medium) {
		@include mixins.flex-between;
		padding-right: map.get($spacings, 'small');
		padding-left: map.get($spacings, 'smallest');
		width: 100%;
		svg {
			@include mixins.display-svg;
			padding-right: map.get($spacings, 'smallest');
		}
	}
}

.navbar__github-icon {
	@include mixins.respond-to(medium) {
		padding-top: map.get($spacings, small);
		padding-right: map.get($spacings, small);
	}
}

.navbar__home-btn {
	@include mixins.respond-to(medium) {
		padding-top: map.get($spacings, 'small');
	}
}

.navbar__resources {
	@include mixins.flex-wrap;
	svg {
		@include mixins.display-svg;
		margin-top: map.get($spacings, 'medium');
		margin-left: map.get($spacings, 'small');
		padding-right: map.get($spacings, 'small');
	}
	@include mixins.respond-to(medium) {
		width: 100%;
		@include mixins.flex-between;
		// svg is displayed in .navbar__header on smaller screens
		svg {
			display: none;
		}
		& > div {
    	@include mixins.flex-column;
  	}
		& > div:nth-child(odd) {
			padding-left: map.get($spacings, 'smallest');
  	}
	}
}

.navbar__dropdown {
	position: absolute;
	top: 100%;
	min-width: 11%;
	border-radius: map.get($border-radius, 'medium');
	background-color: $surface-color;
	padding-left: map.get($spacings, 'smallest');
	opacity: 0;
	visibility: hidden;
	& button {
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
	  &::after {
	    content: '';
	  }
	  
	  &:hover::after {
	    content: '>';
	  }
		@media (hover: none) {
	    &:hover::after {
		    content: '';
		  }
		}
	}
	@include mixins.respond-to(medium) {
		width: 40%;
		text-align: left;
		& button {
			text-align: left !important;
		}
	}
}

.navbar__dropdown-visible {
	opacity: 1;
	visibility: visible;
	z-index: 2;
	@include mixins.fade-in;
}
