@use "sass:map";
@use "variables" as *;
@use "mixins";

.sidebar__nav {
	// anchor
	// :first-child {
	// 	order: 1;
	// }
	@include mixins.flex-column;
	position: sticky;
	left: 0;
	top: 0;
	overflow-y: auto;
	padding-top: map.get($spacings, 'largest');
	margin-right: map.get($spacings, 'medium');
	padding-bottom: map.get($spacings, 'largest');
	width: 20vw;
	@include mixins.bg-gradient(bottom, rgba($secondary-color, .5), $background-color);
	@include mixins.rounded;

	@include mixins.respond-to(medium) {
		backdrop-filter: blur(8px);
		-webkit-backdrop-filter: blur(8px);
		background-color: $background-color;
		padding-bottom: map.get($spacings, 'medium');
		width: 100%;
		height: auto;
		margin-right: 0;
		margin-top: map.get($spacings, 'medium');
	}
}

.sidebar__head {
	background-color: rgba($background-color, .3);
	padding-left: map.get($spacings, 'large');
	padding-bottom: map.get($spacings, 'small');
	margin-bottom: map.get($spacings, 'medium');
	color: $secondary-color;
	font-size: map.get($font-sizes, 'large');
	font-weight: bold;
	width: 100%;
	@include mixins.rounded;
	@include mixins.respond-to(medium) {
		padding: 0;
		text-align: center;
	}
}

.sidebar__btn {
	padding-left: map.get($spacings, 'large');
	&:hover {
		color: $secondary-color;
	}
	&:focus-visible {
		outline: 2px solid $primary-color;
	}
}

.sidebar__anchor {
	order: 1;
	color: $primary-color;
	padding-left: map.get($spacings, 'medium');
	a {
		&:hover {
			color: $primary-color;
		}
	}
}