<nav class="navbar">
  <section class="navbar__header">
    <a href="/" data-event="click:_navigateTo:@attr:href"><img src="/assets/images/logo-trans.avif" alt="nutin's logo. A frame opened on the top left through which a plant grows."></a>
  </section>
  <section class="navbar__resources">
    <div><a href="/docs" class="c-round-btn" data-i18n="navbar.docs" data-event="click:_navigateTo:@attr:href"></a></div>
    <div><a href="/guides" class="c-round-btn" data-i18n="navbar.guides" data-event="click:_navigateTo:@attr:href"></a></div>
    <div><a href="/tutorial" class="c-round-btn" data-i18n="navbar.tutorial" data-event="click:_navigateTo:@attr:href"></a></div>
  </section>
</nav>