<div class="footer u-rounded">
	<div class="u-flex-between">
		<section>
			<p>
				<a 
					data-i18n="footer.repo" 
					href="https://github.com/LoisKOUNINEF/nutin.git" 
					target="_blank"
				></a>
			</p>
			<p>
				<a 
					data-i18n="footer.contact" 
					href="mailto:nutin.toolkit@gmail.com"
				></a>
			</p>
		</section>
		<section>
			<p class="u-italic">
				<a 
					data-i18n="footer.prism" 
					href="https://prismjs.com" 
					target="_blank"
				></a>
			</p>
		</section>
	</div>
	<div 
		style="text-align:center;"
	  class="u-italic u-font-secondary u-font-small" 
	>
		<p>so lightweight it's <span class="u-bold">nutin</span>.</p>
	</div>
</div>